<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Contact -->
          <section class="contact">
            <header>
              <h3>Contact Me!</h3>
            </header>
            <p><strong>Email:</strong> adam.earnst@rutgers.edu</p>
            <p><strong>Affiliation:</strong> Department of Mathematics, Rutgers University, Piscataway, NJ 08854, U.S.A.</p>
            <p><strong>Office:</strong> Hill Center for Mathematical Sciences, Room 622</p>
            <ul class="icons">
              <li>
                  <a href="https://arxiv.org/search/?searchtype=author&query=Earnst%2C+Adam" target="_blank">
                  <img src="images/arxiv-logomark-small.svg" alt="arXiv" style="height:1.5em; position: relative; top: 5px;">
                </a>
              </li>
              <li><a href="https://www.linkedin.com/in/adam-earnst" target="_blank" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
              
            </ul>
          </section>

        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; Adam Earnst. All rights reserved.</li>
            </ul>
          </div>

      </div>

    </div>
  </div>
</div>
