<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Contact -->
          <section class="contact">
            <header>
              <h3>Nisl turpis nascetur interdum?</h3>
            </header>
            <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
            <ul class="icons">
              <li>
                  <a href="https://arxiv.org/search/?searchtype=author&query=Earnst%2C+Adam" target="_blank">
                  <img src="images/arxiv-logomark-small.svg" alt="arXiv" style="height:1.5em; position: relative; top: 5px;">
                </a>
              </li>
              <li><a href="www.linkedin.com/in/adam-earnst" target="_blank" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
              
            </ul>
          </section>

        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; Adam Earnst. All rights reserved.</li>
            </ul>
          </div>

      </div>

    </div>
  </div>
</div>
